.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  perspective-origin: center;
  gap: var(--unit-xs);
}

.card {
  flex: 1;
  width: 100%;
  top: var(--unit-xl);
  border-radius: var(--unit-m);
  background-color: var(--background);
  border: solid 2px var(--on-surface);
  padding: var(--unit-2xs);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  object-position: center;
  border-radius: calc(var(--unit-m) - var(--unit-2xs));
}

.overlay-light, .overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(256, 256, 256, 0),
    rgba(256, 256, 256, 1.0) 20%,
    rgba(256, 256, 256, 0.5) 40%,
    rgba(256, 256, 256, 0.0)
  );
  pointer-events: none;
}

.overlay-light {
  mix-blend-mode: plus-lighter;
}

.overlay-dark {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1.0) 60%,
    rgba(0, 0, 0, 0.8) 90%,
    rgba(0, 0, 0, 0.0)
  );
  mix-blend-mode: multiply;
}