.card {
  position: sticky;
  width: 100%;
  top: var(--unit-xl);
  transform-origin: top center;
  border-radius: var(--unit-m);
  padding: var(--unit-s);
  background-color: var(--background);
  border: solid 2px var(--on-surface);
  overflow: hidden;
}

.image {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  object-position: center;
  border-radius: calc(var(--unit-m) - var(--unit-s));
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(256, 256, 256, 0),
    rgba(256, 256, 256, 1.0) 33%,
    rgba(256, 256, 256, 0.5) 66%,
    rgba(256, 256, 256, 0.0)
  );
  pointer-events: none;
}

.wrapper {
  position: relative;
  perspective: 1000px;
  perspective-origin: center;
}
