.wrapper {
  width: 100%;
  max-width: calc(32 * var(--unit-m));
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  perspective: 1600px;
  perspective-origin: center;
  gap: var(--unit-2xs);
  scroll-snap-align: center;
}

.card-wrapper {
  position: relative;
  display: flex;
  aspect-ratio: 16/10;
  width: 100%;
  transform-style: preserve-3d;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: var(--unit-m);
  border: solid 2px var(--on-surface);
  overflow: hidden;
  padding: var(--unit-3xs);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: calc(var(--unit-m) - var(--unit-3xs));
}

.logo {
  position: absolute;
  bottom: var(--unit-l);
  left: var(--unit-l);
  width: calc(2 * var(--unit-m));
  height: calc(2 * var(--unit-m));
  border-radius: 50%;
  background-color: var(--on-surface);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.caption {
  /* background-color: var(--on-surface); */
  /* color: var(--background); */
  font-size: var(--unit-xs);
  max-width: calc(16 * var(--unit-m));
  text-align: center;
  padding: 0 var(--unit-2xs);
  border-radius: var(--unit-3xs);
}

.overlay-light,
.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(256, 256, 256, 0),
    rgba(256, 256, 256, 1) 25%,
    rgba(256, 256, 256, 0.5) 66%,
    rgba(256, 256, 256, 0)
  );
  pointer-events: none;
}

.overlay-light {
  mix-blend-mode: screen;
}

.overlay-dark {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 100%
  );
  mix-blend-mode: multiply;
}

@media (max-width: 1280px) {
  .wrapper {
    perspective-origin: center center;
  }
}
