.card {
  position: sticky;
  width: 100%;
  aspect-ratio: 16/10;
  top: var(--unit-xl);
  transform-origin: top center;
  border-radius: var(--unit-m);
  background-color: var(--background);
  border: solid 2px var(--on-surface);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* @media (max-width: 1280px) {
  .card {
    top: var(--unit-m);
  }
} */
