.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 4rem;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 3rem;
  }
}

@media (max-width: 512px) {
  .wrapper {
    grid-template-columns: repeat(1, minmax(12rem, 16rem));
    gap: 3rem;
  }
}
