.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 4rem;
  align-items: flex-end;
}

@media (max-width: 960px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
