.root {
  gap: 3rem;
  margin: 8rem 0;
}

.title {
  margin: 0;
}

.metaTable {
  border-collapse: collapse;
  width: 100%;
}

.metaRow {
  height: 2rem;
}

.metaRow > * {
  width: 50%;
}

.metaHead {
  font-weight: normal;
  opacity: 0.8;
  text-align: start;
}

.orgLogo {
  display: block;
  height: 1.5rem;
  background-color: var(--on-surface);
}

.org {
  text-transform: none;
}
