.card {
  position: absolute;
  display: flex;
  width: 50%;
  height: 50%;
  padding: 2rem;
  border-radius: var(--unit-m);
  background-color: var(--background);
  border: solid var(--line) var(--on-surface);
  overflow: hidden;
  will-change: filter, transform;
}

.draggable {
  cursor: grab;
}
.draggable:active {
  cursor: grabbing;
}

@media (max-width: 64rem) {
  .card {
  }
}
