.project {
  display: flex;
  align-items: flex-start;
  gap: var(--unit-2xl);
  padding: 0 var(--unit-xl);
}

.infoCol {
  flex: 1;
  position: sticky;
  top: var(--unit-xl);
  display: flex;
  flex-direction: column;
  gap: var(--unit-l);
}

.infoCol > a {
  font-size: var(--unit-s);
  padding: var(--unit-xs) var(--unit-s);
  width: auto;
  gap: var(--unit-s);
}

.timeline {
  background-color: var(--on-surface);
  color: var(--background);
  font-size: var(--unit-s);
  padding: 0 2px;
}

.progressWrapper {
  width: var(--unit-2xl);
  border-radius: 2px;
  height: 4px;
  background-color: var(--on-surface-var-2);
  overflow: hidden;
}

.progress {
  transform-origin: left center;
  width: 100%;
  height: 100%;
  background-color: var(--on-surface);
}

.text {
  font-size: calc(var(--unit-s) * 0.9);
  letter-spacing: 0;
}

.jumboCard {
  perspective-origin: 30% center;
}

@media (max-width: 1280px) {
  .project {
    flex-direction: column;
    align-items: flex-start;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  .infoCol {
    position: initial;
  }

  .progressWrapper {
    display: none;
  }

  .text {
    max-width: calc(var(--unit-m) * 18);
    font-size: var(--unit-s);
  }

  .jumboCard {
    perspective-origin: center center;
  }
}
