.wrapper {
  width: 100%;
  background-color: var(--on-surface);
  overflow: hidden;
  margin: var(--unit-2xl) 0;
}

.wrapper span {
  color: var(--background);
  text-wrap: nowrap;
  text-transform: uppercase;
}
