@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

html[data-font="mono"] {
  font-family: "DM Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
}

html[data-font="byte"] {
  font-family: "Tiny5", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

html[data-font="sans"] {
  font-family: "SUSE", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

html[data-font="mono"] h1,
html[data-font="mono"] h2,
html[data-font="mono"] h3 {
  line-height: 1.2;
}

html[data-font="sans"] h1,
html[data-font="sans"] h2,
html[data-font="sans"] h3 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.15;
  text-transform: initial;
}
html[data-font="sans"] h1 {
  font-size: 2.5rem;
}
html[data-font="sans"] h2,
html[data-font="sans"] h3 {
  font-weight: 500;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  transition: color 0.2s var(--bezier);
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

strong {
  font-weight: 500;
}

.body-s {
  font-size: 0.85rem;
}

.body-m {
  font-size: 1rem;
}

.body-l {
  font-size: 1.15rem;
}

.color-primary {
  color: var(--on-surface);
}

.color-secondary {
  color: var(--on-surface-var);
}

.color-tertiary {
  color: var(--on-surface-var-2);
}

.color-accent {
  color: var(--accent);
}
