* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.ui {
  margin-top: 8rem;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.gap-s {
  gap: 1rem;
}
.gap-m {
  gap: 1.5rem;
}
.gap-l {
  gap: 2rem;
}

.max-width-m {
  max-width: 40rem;
}
.max-width-l {
  max-width: 64rem;
}
