:root,
:root[data-theme="auto"] {
  color-scheme: light dark;
  background-color: var(--background);
  color: var(--on-surface);
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}
