:root {
  color-scheme: light dark;

  /* Primitives */
  --black-100: #0b0b0b;
  --black-12: #0b0b0b1f;
  --white-100: #ffffff;
  --white-12: #ffffff1f;

  /* Surface tokens */
  --background: light-dark(var(--white-100), var(--black-100));
  --on-surface: light-dark(var(--black-100), var(--white-100));
  --on-surface-var: light-dark(var(--black-12), var(--white-12));

  /** Decor overlay effect */
  --pixel-grid-line: light-dark(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.5));

  /** Accent tokens */
  --accent: light-dark(#1642ff, #00d0fa);

  /* Bezier curve */
  --bezier: cubic-bezier(0.25, 0.75, 0.5, 1);

  background-color: var(--background);
  color: var(--on-surface);

  transition: background-color 0.15s var(--bezier), color 0.15s var(--bezier);
}
