:root {
  --root-color-a: #ffffff;
  --root-color-b: #000000;

  --gray-a1: color-mix(var(--root-color-a) 100%, var(--root-color-b));
  --gray-a2: color-mix(var(--root-color-a) 98%, var(--root-color-b));
  --gray-a3: color-mix(var(--root-color-a) 96%, var(--root-color-b));
  --gray-b1: color-mix(var(--root-color-a) 15%, var(--root-color-b));
  --gray-b2: color-mix(var(--root-color-a) 10%, var(--root-color-b));
  --gray-b3: color-mix(var(--root-color-a) 5%, var(--root-color-b));

  /* Color tokens */
  --background: light-dark(var(--gray-a2), var(--gray-b2));
  --surface: light-dark(var(--gray-a1), var(--gray-b1));
  --surface-dim: light-dark(var(--gray-a3), var(--gray-b3));
  --on-surface: light-dark(var(--gray-b1), var(--gray-a1));
  --on-surface-var: color-mix(var(--on-surface) 66%, transparent);
  --overlay-on-surface: color-mix(var(--on-surface) 5%, transparent);
  --shadow: color-mix(black 80%, var(--background));

  --outline: light-dark(
    color-mix(var(--on-surface) 20%, transparent),
    color-mix(var(--on-surface) 30%, transparent)
  );

  /* Inverse theme tokens */
  --inverse-surface: var(--on-surface);
  --inverse-on-surface: var(--background);

  --pixel-grid-line: light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.5));

  /* Line */
  --line: 1px;

  /* Card border radius */
  --br-card: 2rem;
  --br-square: 2px;

  /* Text */
  --text-xs: 0.625rem;
  --text-s: 0.875rem;
  --text-m: 1rem;
  --text-l: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  /* Headings */
  --h4: 1.25rem;
  --h3: 1.5rem;
  --h2: 2rem;
  --h1: 3rem;

  /* Max widths */
  --max-width-m: 32rem;
  --max-width-l: 64rem;
}
