:root {
  color-scheme: light dark;

  /* Primitives */
  --gray-10: #111110;
  --gray-10-fx: #111110e6;
  --gray-20: #1c1c1b;
  --gray-20-fx: #1c1c1be6;
  --gray-30: #2e2e2d;
  --gray-40: #494848;
  --gray-50: #6b6a68;
  --gray-60: #908e8d;
  --gray-70: #b6b3b2;
  --gray-80: #d7d4d2;
  --gray-90: #f0edeb;
  --gray-90-fx: #f0edebe6;
  --gray-99: #fffbfa;
  --gray-99-fx: #fffbfa88;

  /* Surface tokens */
  --background: light-dark(var(--gray-90), var(--gray-10));
  --background-fx: light-dark(var(--gray-90-fx), var(--gray-10-fx));
  --surface-lo: light-dark(rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.025));
  --surface-hi: light-dark(var(--gray-99), var(--gray-20));
  --on-surface: light-dark(var(--gray-10), var(--gray-99));
  --on-surface-var: light-dark(var(--gray-30), var(--gray-80));
  --on-surface-var-2: light-dark(var(--gray-50), var(--gray-60));
  --outline: light-dark(var(--gray-70), var(--gray-40));

  /* Inverse tokens */
  --inverse-background: light-dark(var(--gray-10), var(--gray-90));
  --inverse-surface: light-dark(var(--gray-20), var(--gray-99));
  --inverse-on-surface: light-dark(var(--gray-99), var(--gray-10));
  --inverse-on-surface-var: light-dark(var(--gray-80), var(--gray-30));

  /* Bezier curve */
  --bezier: cubic-bezier(0.25, 0.75, 0.5, 1);
}

:root[data-accent="sepia"] {
  /* Accent tokens */
  --accent: light-dark(#51480d, #fef0a4);
  --accent-semi: light-dark(#51480d10, #fef0a410);
}

:root[data-accent="gold"] {
  /* Accent tokens */
  --accent: light-dark(, #ffd700);
  --accent-semi: light-dark(#ffd70010, #ffd70010);
}

:root[data-accent="mono"] {
  /* Accent tokens */
  --accent: light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  --accent-semi: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
