.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 4/3;
  will-change: filter, opacity, transform;
  background-color: var(--background);
  border: solid 2px var(--on-surface);
  border-radius: var(--unit-xl);
  overflow: hidden;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.33) 50%,
    rgba(255, 255, 255, 0)
  );
}
/* 
@media (max-width: 1024px) {
  .card {
    aspect-ratio: 1;
  }
} */

/* @media (max-width: 720px) {
  .card {
    aspect-ratio: 3/4;
  }
} */
