---
import { SVG_STAR } from "../../consts/svg";
import Svg from "../Svg.astro";

interface Props {
  scope: string[];
}

const { scope } = Astro.props;
---

<ul class="col gap-s">
  {
    scope.map((line) => (
      <li class="row gap-s">
        <p class="font-size-s">{line}</p>
      </li>
    ))
  }
</ul>

<style>
  p {
    flex: 1;
    text-align: start;
  }
</style>
