---
import { getEntry, render } from "astro:content";

import Layout from "../layouts/Layout.astro";

const page = await getEntry("pages", "404");

if (!page) {
  throw Error("index page not found!");
}

const { Content } = await render(page);
---

<Layout
  head={{ title: page.data.title, description: page.data.description }}
  theme={["#00ff00", "#000000"]}
  footerItems={[
    { value: "That font was cool so i stole it" },
    { value: "Now go and tell your mama" },
    { value: "I'm a bad boy" },
  ]}
>
  <article class="prose">
    <Content />
  </article>

  <div id="overlay"></div>
</Layout>

<style is:global>
  :root {
    color-scheme: dark !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  article > p {
    font-size: 1.25rem;
    text-align: justify;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background:
      linear-gradient(
        to right,
        transparent,
        transparent 50%,
        var(--on-surface) 50%
      ),
      linear-gradient(
        to bottom,
        transparent,
        transparent 50%,
        var(--on-surface) 50%
      );
    background-size: 2px 2px;
    opacity: 0.1;
  }
</style>
