---
import QuizStack from "../components/QuizStack";
import QUIZ_ROGI from "../consts/quizzes/rogi";
import Layout from "../layouts/Layout.astro";
---

<Layout
  head={{ title: "404 | ROGI ???", description: "You are lost in the woods" }}
>
  <h1>Four-oh-four</h1>

  <p>
    This is a broken route... or not. Anyways, Rogi greets you.<br />
    You probably think: What Rogi? Why is everything green? What's that thing at the
    top?
    <br />
    All answers below.
  </p>

  <QuizStack quiz={QUIZ_ROGI} client:load />
</Layout>

<style is:global>
  :root {
    --background: #030900;
    --surface: #010501;
    --on-surface: #96fc00;
    --on-surface-overlay: #96fc0008;
    --inverse-surface: rgba(57, 255, 20, 1);
    --inverse-on-surface: #010501;
    --pixel-grid-line: rgba(57, 255, 20, 1);
    text-align: justify;
    letter-spacing: 0.05em;
  }

  p {
    font-size: 1.5rem;
    text-transform: uppercase;
    max-width: 40rem;
    line-height: 1.5em;
  }
</style>
