---
import { getEntry, render } from "astro:content";

import Layout from "../layouts/Layout.astro";
import type { Theme } from "../helpers/themeTokens";

const page = await getEntry("pages", "404");

if (!page) {
  throw Error("index page not found!");
}

const { Content } = await render(page);

const notFoundTheme: Theme = {
  light: {
    "surface-container": "#f3fff3",
    background: "#e8ffe8",
    surface: "#ccffcc",
    "on-surface": "#002200",
    outline: "#1f7a1f",
    primary: "#008500",
    "on-primary": "#e8ffe8",
    shadow: "#001000",
  },
  dark: {
    "surface-container": "#032403",
    background: "#001500",
    surface: "#012001",
    "on-surface": "#9bff9b",
    outline: "#32c832",
    primary: "#4eff4e",
    "on-primary": "#001500",
    shadow: "#000000",
  },
};
---

<Layout
  headerText="ROGI ???"
  head={{ title: page.data.title, description: page.data.description }}
  theme={notFoundTheme}
  footerItems={[
    { value: "That font was cool so i stole it" },
    { value: "Now go and tell your mama" },
    { value: "I'm a bad boy" },
  ]}
>
  <article class="prose">
    <Content />
  </article>

  <div id="overlay"></div>
</Layout>

<style is:global>
  :root {
    color-scheme: dark !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  article > p {
    font-size: 1.25rem;
    text-align: justify;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background:
      linear-gradient(
        to right,
        transparent,
        transparent 50%,
        var(--on-surface) 50%
      ),
      linear-gradient(
        to bottom,
        transparent,
        transparent 50%,
        var(--on-surface) 50%
      );
    background-size: 2px 2px;
    opacity: 0.1;
  }
</style>
