---
import Paragraph from "../components/Paragraph.astro";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import QuizStack from "../components/QuizStack";
import QUIZ_ROGI from "../consts/quizzes/rogi";
---

<MainLayout>
  <div class="wrapper">
    <Header />

    <section class="col gap-l">
      <h1>Four-Oh-Four</h1>

      <Paragraph
        text="This is a broken route... or not. Anyways, Rogi greets you."
      />

      <Paragraph
        text="You probably think: What Rogi? Why is everything green? What's that thing at the top? All answers below."
      />
    </section>

    <section>
      <QuizStack client:load quiz={QUIZ_ROGI} />
    </section>

    <Footer name="Rogi ???" year={1997} />
  </div>
</MainLayout>

<style>
  .wrapper {
    font-feature-settings:
      "zero" on,
      "case" on;
    padding: var(--unit-2xl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--unit-2xl);
  }

  section {
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  h1 {
    font-size: var(--unit-xl);
    line-height: 1;
  }
</style>

<style is:global>
  :root {
    --background: #010501;
    --on-surface: rgba(57, 255, 20, 1);
    --on-surface-var: rgba(57, 255, 20, 0.6);
    --on-surface-var-2: rgba(57, 255, 20, 0.2);

    line-height: 1.1;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 0.05em;
  }
</style>
