---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CVRoleGroup from "../components/CVRoleGroup.astro";

let user: undefined | CollectionEntry<"users">;

const usersCollection = await getCollection("users");
user = usersCollection.find((u) => u.id === "irrlmm");

if (!user) {
  throw new Error("User not found");
}
---

<Layout
  schema={{
    "@context": "https://schema.org",
    "@type": "Person",
    name: "Igor Lemeshkin",
    jobTitle: "Product Designer",
    url: "https://www.irrlmm.me",
    sameAs: [
      "https://www.linkedin.com/in/irrlmm",
      "https://dribbble.com/irrlmm",
    ],
    hasOccupation: {
      "@type": "Occupation",
      name: "Lead Product Designer",
      skills: [
        "UX/UI Design",
        "Design Systems",
        "Product Design",
        "AI-native products",
        "SaaS",
      ],
    },
  }}
  head={{
    title: "Igor Lemeshkin - Resume",
    description: "",
  }}
>
  <!-- <PostHero title="Resume" lead={user.data.cv.description} /> -->

  <section>
    <h2>Roles</h2>

    {user.data.cv.roles.map((group) => <CVRoleGroup group={group} />)}
  </section>

  <section>
    <h2>Projects</h2>

    {user.data.cv.projects.map((group) => <CVRoleGroup group={[group]} />)}
  </section>

  <section>
    <h2>Education</h2>

    {user.data.cv.education.map((group) => <CVRoleGroup group={[group]} />)}
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    gap: 2.5rem;
    width: 100%;
  }

  section.main {
    gap: 2rem;
  }
</style>
