---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import Launchpad from "../components/Launchpad.astro";
import FactStack from "../components/FactStack";
import Belt from "../components/Belt";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import FACTS_INTRO from "../consts/facts/intro";
import FACTS_PRINCIPLES from "../consts/facts/principles";
import { SVG_CV, SVG_DRIBBBLE, SVG_KEY, SVG_MAIL } from "../consts/svg";
import { SCHEMA_PERSON_FULL } from "../consts/schemas";

const posts = (await getCollection("work")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

if (!posts) {
  throw Error("no posts!");
}
---

<MainLayout schema={SCHEMA_PERSON_FULL}>
  <article class="col align-start">
    <Header />

    <Hero />

    <section>
      <FactStack client:load facts={FACTS_INTRO} />
    </section>

    <Belt client:load text="Available for product design roles" />

    <Launchpad
      apps={[
        {
          label: "Workplace",
          link: { href: "https://app.imusician.pro", external: true },
          widgetWorkplace: {
            company: "imusician",
            lines: ["7+ yrs", "Senior Product Designer", "ex UI Engineer"],
          },
          badge: "Finished",
        },
        {
          label: "Latest work",
          link: {
            href: "https://www.behance.net/gallery/223450275/Instant-Mastering-Instant-Remake",
            external: true,
          },
          widgetImage: "/src/assets/ishigs/cover.png",
        },
        {
          label: "LinkedIn",
          link: { href: "https://www.linkedin.com/in/irrlmm", external: true },
          icon: { text: "in" },
        },
        {
          label: "Dribbble",
          link: { href: "https://www.dribbble.com/irrlmm", external: true },
          icon: { path: SVG_DRIBBBLE },
        },
        {
          label: "Behance",
          link: { href: "https://www.behance.net/irrlmm", external: true },
          icon: { text: "Be" },
        },
        {
          label: "CV",
          link: { href: "/docs/Igor Lemeshkin CV.pdf", external: true },
          icon: { path: SVG_CV },
        },
        {
          label: "Mail",
          link: { href: "mailto:igorlem@icloud.com" },
          icon: { path: SVG_MAIL },
          badge: "open",
          // pos: "5 / 1",
        },
        {
          label: "Rogi",
          link: { href: "/undefined" },
          icon: { path: SVG_KEY },
          badge: "???",
          // pos: "5 / 1",
        },
      ]}
    />

    <Belt client:load text="The work is mysterious and important" />

    <section>
      <FactStack client:load facts={FACTS_PRINCIPLES} />
    </section>

    <Footer />
  </article>
</MainLayout>

<style>
  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--unit-2xl) 0;
    gap: var(--unit-2xl);
  }

  p {
    vertical-align: middle;
  }

  section {
    display: flex;
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }
</style>
