---
import MainLayout from "../layouts/MainLayout.astro";
import Monogram from "../components/Monogram.astro";
import ResumeOverview from "../components/ResumeOverview.astro";
import Image from "astro/components/Image.astro";
import getImage from "../helpers/getImage";
---

<MainLayout>
  <article class="col align-start">
    <Monogram />

    <section class="col gap-m">
      <h1 class="hidden">Igor Lemeshkin</h1>
      <h2 class="hidden">Senior product designer</h2>

      <p>Greetings.</p>
      <p>
        I am
        <Image
          src={getImage("/src/assets/persons/irrlmm.png")()}
          widths={[64, 128]}
          layout="full-width"
          width={32}
          alt=""
        />
        <strong>Igor Lemeshkin</strong>, a <strong
          >senior product designer</strong
        >.
      </p>

      <p>
        I design clear human interfaces with system thinking at the core. I
        cover edge cases, ship clean UI, and stay close to dev.
      </p>

      <p>
        My approach is shaped by a dev background, a sharp eye for detail, and a
        habit of leading collaboration.
      </p>
    </section>

    <section class="col gap-m">
      <ResumeOverview />
    </section>
  </article>
</MainLayout>

<style>
  article {
    width: 100%;
    max-width: 576px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: var(--unit-2xl) 0;
    gap: var(--unit-2xl);
    animation: page-appear 0.66s var(--bezier) 0.1s both;
  }

  p {
    vertical-align: middle;
  }

  img {
    width: var(--unit-m);
    border-radius: 10%;
    vertical-align: middle;
    transform: translateY(calc(-0.1 * var(--unit-m)));
  }

  section {
    align-self: stretch;
  }
</style>
