---
import MainLayout from "../layouts/MainLayout.astro";
import Menu from "../components/Menu/Menu.astro";
import ProfileCard from "../components/ProfileCard.astro";
import SectionLinks from "../components/SectionLinks.astro";
import AnimatedLead from "../components/AnimatedLead.astro";
import Footer from "../components/Footer.astro";
import Separator from "../components/Separator.astro";
import { LINK_BEHANCE, LINK_DRIBBBLE, LINK_LINKEDIN } from "../consts/ui/links";
import {
  MENU_ABOUT,
  MENU_CONTACT,
  MENU_CV,
  MENU_WORK,
} from "../consts/ui/menu";
import { SCHEMA_PERSON_MINI } from "../consts/schemas";
import { getEntry } from "astro:content";

const person = await getEntry("meta:person", "me");

if (!person) {
  throw Error("No person loaded!");
}
---

<MainLayout schema={SCHEMA_PERSON_MINI}>
  <div class="wrapper">
    <div class="hero">
      <ProfileCard person={person.data} />

      <AnimatedLead
        lines={[
          "I create app designs with high precision.",
          "I develop design systems used across many products.",
          "I solve problems with clarity and technical knowledge.",
          "My products remain impactful over time.",
        ]}
      />

      <SectionLinks links={[LINK_LINKEDIN, LINK_DRIBBBLE, LINK_BEHANCE]} />
    </div>

    <Menu options={[MENU_ABOUT, MENU_WORK, MENU_CV, MENU_CONTACT]} />

    <Separator />

    <Footer />
  </div>
</MainLayout>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    max-width: 576px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>
