---
import MainLayout from "../layouts/MainLayout.astro";
import Monogram from "../components/Monogram.astro";
import ResumeOverview from "../components/ResumeOverview.astro";
import Image from "astro/components/Image.astro";
import getImage from "../helpers/getImage";
---

<MainLayout>
  <article class="col align-start">
    <Monogram />

    <section id="hero" class="col gap-m">
      <h1 class="hidden">Igor Lemeshkin</h1>
      <h2 class="hidden">Product designer</h2>

      <!-- <p><strong>Greetings.</strong></p> -->

      <p class="text-highlight">
        <span class="font-bold">Greetings.</span>
        <span> I am Igor</span>
        <Image
          src={getImage("/src/assets/persons/irrlmm.png")()}
          widths={[128, 256]}
          layout="full-width"
          width={128}
          loading="eager"
          alt=""
        />
      </p>

      <p class="text-highlight">
        <span>Senior Product Designer.</span>
        <span>Working at intersection of design, code, and strategy. </span>
      </p>

      <p class="text-highlight">
        <span> Curiosity-led.</span>
        <span>Detail-obsessed.</span>
        <span
          >Shaped by systems thinking, UI engineering background, and habit of
          leading collaboration.</span
        >
      </p>
    </section>

    <section class="col gap-m">
      <ResumeOverview />
    </section>
  </article>
</MainLayout>

<style>
  article {
    width: 100%;
    max-width: calc(var(--unit-m) * 20);
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: var(--unit-2xl) 0;
    gap: var(--unit-2xl);
  }

  p {
    vertical-align: middle;
  }

  img {
    width: var(--unit-m);
    border-radius: 5%;
    vertical-align: middle;
    transform: translateY(calc(-0.1 * var(--unit-m)));
    transition: all 0.15s var(--bezier);
    transform-origin: center 57.5%;
  }
  img:hover {
    transform: scale(2);
    box-shadow: 0 0 0 2px var(--background);
  }

  section {
    align-self: stretch;
  }
</style>
