---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import PostsList from "../components/Posts/PostsList.astro";
import Launchpad from "../components/Launchpad.astro";
import FactStack from "../components/FactStack";
import Belt from "../components/Belt";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TestStack from "../components/TestStack";
import { TEST_COLLABORATOR_TYPE } from "../consts/tests/collaboratorType";
import { FACTS_INTRO } from "../consts/facts/introFacts";
import { SVG_CV, SVG_DRIBBBLE, SVG_KEY, SVG_MAIL } from "../consts/svg";

const posts = (await getCollection("work")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

if (!posts) {
  throw Error("no posts!");
}
---

<MainLayout>
  <article class="col align-start">
    <Header />

    <Hero />

    <section>
      <FactStack client:load facts={FACTS_INTRO} />
    </section>

    <Belt client:load text="Available for product design roles" />

    <Launchpad
      apps={[
        {
          label: "Workplace",
          link: { href: "https://app.imusician.pro", external: true },
          widgetWorkplace: {
            experience: "7+ yrs",
            company: "imusician",
          },
          badge: "Bye-bye",
        },
        {
          label: "Latest work",
          link: {
            href: "https://www.behance.net/gallery/223450275/Instant-Mastering-Instant-Remake",
            external: true,
          },
          widgetImage: "/src/assets/ishigs/cover.png",
          badge: "New",
        },
        {
          label: "CV",
          link: { href: "/docs/Igor Lemeshkin CV.pdf", external: true },
          icon: { text: "CV" },
        },
        {
          label: "LinkedIn",
          link: { href: "https://www.linkedin.com/in/irrlmm", external: true },
          icon: { text: "in" },
        },
        {
          label: "Dribbble",
          link: { href: "https://www.dribbble.com/irrlmm", external: true },
          icon: { path: SVG_DRIBBBLE },
        },
        {
          label: "Contact",
          link: { href: "mailto:igorlem@icloud.com" },
          icon: { path: SVG_MAIL },
        },
        {
          label: "Rogi",
          link: { href: "/undefined" },
          icon: { path: SVG_KEY },
          badge: "???",
          pos: "5 / 1 / span 1 / span 1",
        },
        // {
        //   label: "Theme",
        //   widgetTheme: true,
        // },
      ]}
    />

    <!-- <section>
      <ResumeOverview
        values={[
          { label: "Experience", value: "8+ years" },
          {
            label: "Works at",
            value: "iMusician",
            href: "https://imusician.pro",
          },
          {
            label: "Lore",
            value: "/undefined",
            href: "/undefined",
            internal: true,
          },
          {
            label: "LinkedIn",
            value: "Igor L.",
            href: "https://www.linkedin.com/in/irrlmm",
          },
          {
            label: "Dribbble",
            value: "irrlmm",
            href: "https://www.dribbble.com/irrlmm",
          },
          {
            label: "Email",
            value: "igorlem@icloud.com",
            href: "mailto:igorlem@icloud.com",
          },
        ]}
      />
    </section> -->

    <!-- <PostsList posts={posts} /> -->

    <!-- <Belt client:load text="This page is not just about Igor" /> -->

    <Belt client:load text="The work is mysterious and important" />

    <!-- <section>
      <TestStack client:load test={TEST_COLLABORATOR_TYPE} />
    </section> -->

    <section>
      <FactStack
        client:load
        facts={[
          {
            id: "intro",
            text: "I want to share some of the design principles that shaped the way I think, work, and decide what matters.",
          },
          {
            id: "p1",
            text: "My number one design principle is to make impact using minimum resources.",
          },
          {
            id: "p2",
            text: "Less code. Less time. Quirks just enough. Less tools to make designs with.",
          },
          {
            id: "oth",
            text: "Otherwise a designer just sits and polishes a thing that might even not make sense.",
          },
        ]}
      />
    </section>

    <Footer />
  </article>
</MainLayout>

<style>
  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--unit-2xl) 0;
    gap: var(--unit-2xl);
  }

  p {
    vertical-align: middle;
  }

  section {
    display: flex;
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  section.wide {
    max-width: initial;
    padding: 0;
  }
</style>
