---
import Launchpad from "../components/Launchpad.astro";
import Footer from "../components/Footer.astro";

import { IRRLMM } from "../consts/meta";

import myImage from "../assets/persons/irrlmm.jpg";

import { SCHEMA_PERSON_FULL } from "../consts/schemas";
import {
  SVG_CODE,
  SVG_CV,
  SVG_DRIBBBLE,
  SVG_KEY,
  SVG_MAIL,
} from "../consts/svg";
import NewLayout from "../layouts/NewLayout.astro";
import Stack from "../components/Stack";
import { getImage } from "astro:assets";
import RELEASE_NOTES from "../consts/release-notes";
import WorkList from "../components/WorkList.astro";
import Belt from "../components/Belt";

const imageSrc = await Promise.resolve(
  getImage({
    src: myImage,
    format: "webp",
    quality: 95,
    width: 1440,
  })
);
---

<NewLayout schema={SCHEMA_PERSON_FULL}>
  <Stack client:load src={imageSrc.src} />

  <h2>Recent work</h2>

  <WorkList limit={3} />

  <Belt client:load text="Available for product design roles" />

  <Launchpad
    apps={[
      {
        label: "LinkedIn",
        link: { href: IRRLMM.links.linkedin, external: true },
        icon: { text: "in" },
      },
      {
        label: "Dribbble",
        link: { href: IRRLMM.links.dribbble, external: true },
        icon: { path: SVG_DRIBBBLE },
      },
      {
        label: "Behance",
        link: { href: IRRLMM.links.behance, external: true },
        icon: { text: "Be" },
      },
      {
        label: "Github",
        link: { href: IRRLMM.links.github, external: true },
        icon: { path: SVG_CODE },
      },
      {
        label: "CV",
        link: { href: "/docs/Igor Lemeshkin CV.pdf", external: true },
        icon: { path: SVG_CV },
      },
      {
        label: "Email",
        link: { href: `mailto:${IRRLMM.email}` },
        icon: { path: SVG_MAIL },
      },
      {
        label: "Rogi",
        link: { href: "/undefined" },
        icon: { path: SVG_KEY },
        badge: "???",
      },
      {
        label: "Changelog",
        link: { href: "/changelog" },
        icon: { text: `v${RELEASE_NOTES[0].version.substring(0, 3)}` },
      },
    ]}
  />
</NewLayout>

<style>
  h2 {
    width: 100%;
    max-width: calc(var(--unit-m) * 22 + var(--unit-l) * 2);
    padding: 0 var(--unit-l);
    font-size: var(--unit-l);
    margin-top: var(--unit-2xl);
    margin-bottom: var(--unit-xl);
  }
</style>
