.progress {
  display: inline-flex;
  align-items: center;
  gap: var(--unit-s);
}

.iconWrapper {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper svg {
  position: absolute;
  transform-origin: center;
}

.iconWrapper circle {
  transform-origin: center;
  rotate: -90deg;
}
