---
import { Image } from "astro:assets";
import getImage from "../helpers/getImageMetadata";

type Props = {
  name: string;
  description?: string;
  img?: string;
};

let image;

const { name, description, img } = Astro.props;

if (img) {
  image = await getImage(img);
}
---

<div class="org-card">
  <div class="row">
    <div class="col">
      <h3 class="lh-capped">{name}</h3>

      {description && <p>{description}</p>}
    </div>

    {image && <Image src={image()} alt={name} />}
  </div>
</div>

<style>
  .org-card {
    text-align: left;
    padding: 2rem;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
    border-radius: 2rem;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }

  .col {
    flex: 1;
    gap: 0.5rem;
  }
</style>
