---
import type { ReferenceDataEntry } from "astro:content";
import { getEntry } from "astro:content";
import { getEntries } from "astro:content";
import CVOrgCard from "./CVOrgCard.astro";
import CVRoleCard from "./CVRoleCard.astro";

type Props = {
  group:
    | ReferenceDataEntry<"cv:roles">[]
    | ReferenceDataEntry<"cv:education">[]
    | ReferenceDataEntry<"cv:projects">[];
};

const { group } = Astro.props;

const roles = await getEntries(group);

const org = await getEntry(roles[0].data.org);
---

<div class="group-wrapper">
  {
    roles.map((r, i) => (
      <>
        {i === 0 && (
          <>
            <CVOrgCard {...org.data} />

            <svg
              width="160"
              height="16"
              viewBox="0 0 160 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M160 0C155.582 0 152 3.58172 152 8C152 12.4183 155.582 16 160 16H0C4.41828 16 8 12.4183 8 8C8 3.58172 4.41828 0 0 0H160Z" />
            </svg>
          </>
        )}

        <CVRoleCard {...r.data} />

        {i !== roles.length - 1 && (
          <svg
            width="160"
            height="16"
            viewBox="0 0 160 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M160 0C155.582 0 152 3.58172 152 8C152 12.4183 155.582 16 160 16H0C4.41828 16 8 12.4183 8 8C8 3.58172 4.41828 0 0 0H160Z" />
          </svg>
        )}
      </>
    ))
  }
</div>

<style>
  svg {
    fill: var(--inverse-surface);
  }

  .group-wrapper {
    display: flex;
    flex-direction: column;
  }

  .role-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
    box-shadow: inset 0 0 0 var(--line) var(--inverse-surface);
    border-radius: 2rem;
    padding: 2rem;
  }

  .org-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--on-surface);
    box-shadow: inset 0 0 0 var(--line) var(--inverse-surface);
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .org-card .row .col {
    flex: 1;
    gap: 1rem;
  }

  .kicker {
    background-color: var(--background);
    color: var(--on-surface);
  }

  .separator {
    height: var(--line);
    background-color: var(--inverse-on-surface);
  }

  .col {
    gap: 0.5rem;
  }

  svg {
    align-self: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    line-height: 120%;
    list-style-type: none;
  }

  p,
  span {
    font-family: "sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.03em;
    text-transform: none;
    max-width: none;
  }

  li span {
    margin-right: 1rem;
  }
</style>
