---
type Props = {
  items: string[];
};

const { items } = Astro.props;
---

<div class="kicker">
  {
    items.map((item, i) => (
      <>
        <span class="overline text-s lh-capped">{item}</span>
        {i !== items.length - 1 && (
          <span class="overline text-s lh-capped decor">|</span>
        )}
      </>
    ))
  }
</div>

<style>
  .kicker {
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    border-radius: var(--br-square);
    align-items: center;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
  }

  .decor {
    opacity: 0.2;
  }
</style>
