---
import MicroGraphic from "./MicroGraphic.astro";
import { IRRLMM } from "../consts/meta";

type Props = {
  items?: { label?: string; value: string; capsule?: string }[];
};

const year = new Date().getFullYear();

const { items } = Astro.props;
---

<footer>
  <MicroGraphic items={items} />

  <span class="label">
    <span id="footer-year">{year}</span> ©
    {IRRLMM.name}
  </span>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    margin-top: 8rem;
  }
</style>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
