---
import { IRRLMM } from "../consts/meta";
import Monogram from "./Monogram.astro";
import LineSeparator from "./LineSeparator.astro";

interface Props {
  year?: number;
  name?: string;
}

const { year = new Date(Date.now()).getFullYear(), name = IRRLMM.name } =
  Astro.props;
---

<footer>
  <LineSeparator />

  <div class="row justify-between align-center">
    <Monogram />

    <span class="font-size-s">{name} © {year}</span>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2xl);
    width: 100%;
    padding: 0 var(--unit-l);
    max-width: calc(var(--unit-m) * 22 + var(--unit-l) * 2);
    margin-top: var(--unit-2xl);
  }
</style>
