---
import Monogram from "./Monogram.astro";

interface Props {
  year?: number;
  name?: string;
}

const { year = new Date(Date.now()).getFullYear(), name = "Igor Lemeshkin" } =
  Astro.props;
---

<footer>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="8"
    height="8"
    viewBox="0 0 8 8"
    fill="none"
    stroke="var(--on-surface)"
    stroke-width={2}
    preserveAspectRatio="none"
  >
    <line x1="0" y1="4" x2="8" y2="4"></line>
  </svg>

  <div class="row justify-between align-center">
    <Monogram />

    <span class="font-size-s">{name} © {year}</span>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2xl);
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  svg {
    width: 100%;
  }
</style>
