---
import { Image } from "astro:assets";

interface Props {
  images: ImageMetadata[];
}

const { images } = Astro.props;
---

<div>
  {
    images.map((img) => (
      <Image
        src={img.src}
        widths={[1024, 1536, 2048]}
        width={img.width}
        height={img.height}
        layout="responsive"
        alt=""
      />
    ))
  }
</div>
