---
import Monogram from "./Monogram.astro";
import { IRRLMM } from "../consts/meta";
---

<header>
  <Monogram />

  <nav class="row gap-s font-size-s color-secondary">
    <a href="/work">Work</a>
    <span> | </span>
    <a href={IRRLMM.links.linkedin} rel="noopener noreferrer" target="_blank"
      >Contact</a
    >
  </nav>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    max-width: calc(var(--unit-m) * 22);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .row span {
    color: var(--on-surface-var-2);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
</style>
