---
import Monogram from "./Monogram.astro";
import { IRRLMM } from "../consts/meta";
---

<header class="row align-center justify-between">
  <Monogram />

  <nav class="row gap-s">
    <a href={IRRLMM.links.portfolio} target="_blank" rel="noopener noreferrer"
      >Work</a
    >
    <span class="color-tertiary">|</span>
    <a href="mailto:hello@irrlmm.me">Contact</a>
  </nav>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  a {
    font-size: var(--unit-sm);
    color: var(--on-surface);
    text-decoration: none;
  }

  a:hover {
    color: var(--on-surface-var);
  }
</style>
