---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
};

const { href, label } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[{ active: isActive }]}>
  <span class="color-tertiary body-s">{label}</span>
</a>

<style>
  a {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 20px;
    transition: all 0.2s var(--bezier);
  }
  a:hover,
  a.active {
    /* background-color: var(--surface-lo); */
  }

  span {
    text-transform: uppercase;
  }

  a:hover span {
    color: var(--on-surface);
  }

  a.active span {
    color: var(--on-surface);
  }
</style>
