---
import { Image } from "astro:assets";
import getImage from "../helpers/getImage";
import { getEntry } from "astro:content";
import type { ReferenceDataEntry } from "astro:content";

interface Props {
  workplace: {
    company: ReferenceDataEntry<"meta:company">["id"];
    lines: string[];
  };
}

const { workplace } = Astro.props;

const company = await getEntry("meta:company", workplace.company);
if (!company) {
  throw Error("Company entry not found!");
}
---

<div class="col align-start justify-between gap-2xs">
  <div class="row gap-xs align-center">
    <Image
      src={getImage(company.data.logo)()}
      loading="lazy"
      alt="Company logo"
      widths={[32, 64]}
      layout="responsive"
    />

    <span>{company.data.name}</span>
  </div>

  <ul>
    {workplace.lines.map((p: string) => <li>{p}</li>)}
  </ul>
</div>

<style>
  div.col {
    width: 100%;
    height: 100%;
    padding: 12.5%;
    font-size: calc(var(--unit-s) * 0.8);
    line-height: 1;
  }
  div:hover ul {
    color: var(--on-surface-var);
  }
  img {
    width: var(--unit-m);
    border-radius: var(--unit-2xs);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2xs);
  }
  li {
    transition: transform 0.1s var(--bezier);
  }
  li:hover {
    color: var(--on-surface);
    transform: translateX(4px);
  }
</style>
