---
interface Props {
  value: string;
}

const { value } = Astro.props;
---

<span>{value}</span>

<style>
  span {
    position: absolute;
    top: calc(-1 * var(--unit-2xs));
    right: calc(-1 * var(--unit-2xs));
    padding: var(--unit-2xs);
    border-radius: var(--unit-s);
    line-height: 1;
    background-color: var(--on-surface);
    font-size: var(--launchpad-m);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--background);
    animation: appear-with-scale 0.2s var(--bezier) 0.75s both;
  }
</style>
