---
import { Image } from "astro:assets";
import getImage from "../helpers/getImage";
import { getEntry } from "astro:content";

interface Props {
  workplace: {
    company: string;
    logo: string;
    lines: string[];
  };
}

const { workplace } = Astro.props;
---

<div class="col align-start justify-between gap-2xs">
  <div class="row gap-xs align-center">
    <Image
      src={getImage(workplace.logo)()}
      loading="lazy"
      alt="Company logo"
      widths={[32, 64]}
      layout="responsive"
    />

    <span>{workplace.company}</span>
  </div>

  <ul>
    {workplace.lines.map((p: string) => <li>{p}</li>)}
  </ul>
</div>

<style>
  div.col {
    width: 100%;
    height: 100%;
    padding: 12.5%;
    font-size: var(--launchpad-m);
    line-height: 1;
  }
  img {
    width: var(--unit-m);
    border-radius: var(--unit-2xs);
  }
  ul {
    display: flex;
    flex-direction: column;
    color: var(--on-surface-var);
    gap: var(--unit-2xs);
  }
  li {
    transition: transform 0.1s var(--bezier);
  }
  li:hover {
    color: var(--on-surface);
    transform: translateX(4px);
  }
</style>
