---
interface Props {
  value: string;
}

const { value } = Astro.props;
---

<div class="col align-center justify-center gap-2xs">
  <span class="font-size-l">{value}</span>
</div>

<style>
  div.col {
    text-align: center;
    font-size: var(--unit-xs);
  }
</style>
