---
import { type LinkItem } from "../consts/ui/links";
import { SVG_ARROW } from "../consts/svg";
import Svg from "./Svg.astro";

interface Props {
  links: LinkItem[];
}

const { links } = Astro.props;
---

<ul class="row gap-8">
  {
    links.map((link) => (
      <li>
        <a
          rel="noopener noreferrer"
          class="flex-1 row align-center justify-between color-primary"
          target="_blank"
          href={link.href}
        >
          <span class="body-s">{link.label}</span>

          <Svg d={SVG_ARROW} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    flex-wrap: wrap;
  }

  li {
    flex: 1;
    display: flex;
  }

  a {
    height: 48px;
    padding: 0 24px;
    border-radius: 24px;
    font-weight: 700;
    background-color: var(--surface-lo);
    transform-origin: top left;
    animation: appear-with-scale 0.33s var(--bezier) both;
    transition: all 0.2s var(--bezier);
  }
  a:nth-child(1) {
    animation-delay: 0.25s;
  }
  a:nth-child(2) {
    animation-delay: 0.275s;
  }
  a:nth-child(n + 3) {
    animation-delay: 0.3s;
  }

  a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--on-surface);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.2s var(--bezier);
  }

  svg {
    margin-left: 24px;
    width: 16px;
    height: 16px;
  }

  a:hover::before {
    opacity: 0.03;
  }

  a:hover svg {
    transform: translate(2px, -2px);
  }
</style>
