---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import getImage from "../helpers/getImage";

interface Props {
  person: CollectionEntry<"meta:person">["data"];
}

const {
  person: { name, title, avatar },
} = Astro.props;

const avatarImage = getImage(avatar);
---

<div class="col gap-32">
  <!-- <Image
    class="avatar"
    src={avatarImage()}
    width={96}
    widths={[128, 256]}
    layout="responsive"
    alt="Igor Lemeshkin"
    loading="eager"
  /> -->

  <div class="col gap-4">
    <h1>{name}</h1>
    <!-- <span class="body-l color-secondary">{title}</span> -->
  </div>
</div>

<style>
  img {
    border-radius: 25%;
    animation: appear-with-blur 0.33s var(--bezier) both;
    animation-delay: 0.15s;
  }

  p {
    text-align: center;
  }

  .col > h1,
  .col > span {
    animation: appear 0.33s var(--bezier) both;
  }
  .col > h1 {
    animation-delay: 0.2s;
  }
  .col > span {
    animation-delay: 0.225s;
  }

  @media (max-width: 512px) {
    .row {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
