---
import Values from "./Values.astro";

const { values } = Astro.props;
---

<div class="col flex-1 gap-l padding-m">
  <Values values={values} />

  <a
    href="/docs/Igor Lemeshkin CV.pdf"
    rel="noopener noreferrer"
    target="_blank">CV / Resume</a
  >
</div>

<style>
  div > a {
    padding: var(--unit-xs);
    border-radius: var(--unit-l);
    color: var(--on-surface);
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--on-surface);
    width: 100%;
  }
  div > a:hover {
    background-color: var(--on-surface);
    color: var(--background);
  }
</style>
