---
import Band from "./Band.astro";
import TabDecor from "./TabDecor.astro";
import Values from "./Values.astro";
---

<div id="file" class="col flex-1 gap-l padding-m">
  <TabDecor />

  <h2 class="font-bold">Overview file</h2>

  <!-- <ul class="col gap-xs">
    {
      [
        { label: "Age", value: "27" },
        { label: "Experience", value: "8+ years" },
        {
          label: "Working at",
          value: "iMusician",
          href: "https://imusician.pro",
        },
        { label: "Location", value: "Kuala Lumpur, Malaysia" },
        {
          label: "Dribbble",
          value: "irrlmm",
          href: "https://dribbble.com/irrlmm",
        },
        {
          label: "LinkedIn",
          value: "Igor Lemeshkin",
          href: "https://linkedin.com/irrlmm",
        },
      ].map((v) => (
        <li class="row gap-s">
          <h4>{v.label}</h4>
          {v.href ? (
            <a href={v.href} rel="noopener noreferrer" target="_blank">
              {v.value}
            </a>
          ) : (
            <span>{v.value}</span>
          )}
        </li>
      ))
    }
  </ul> -->

  <Values
    values={[
      { label: "Age", value: "27" },
      // { label: "Experience", value: "8+ years" },
      { label: "Location", value: "Kuala Lumpur, Malaysia" },
      {
        label: "Working at",
        value: "iMusician",
        href: "https://imusician.pro",
      },
      {
        label: "Dribbble",
        value: "irrlmm",
        href: "https://dribbble.com/irrlmm",
      },
      {
        label: "LinkedIn",
        value: "Igor Lemeshkin",
        href: "https://linkedin.com/irrlmm",
      },
    ]}
  />

  <a href="/cv">View more</a>
</div>

<style>
  div#file {
    background-color: var(--background);
    border: solid 2px var(--on-surface);
    border-radius: var(--unit-xs);
    transition: all 0.15s var(--bezier);
  }

  div {
    position: relative;
  }

  h2,
  li h4,
  li span,
  li a,
  li p {
    font-size: var(--unit-s);
  }

  li h4,
  li span,
  li a {
    flex: 1;
  }

  h4 {
    font-family: "gt-regular";
  }

  p {
    font-size: var(--unit-s);
  }
</style>
