---
import { getEntry } from "astro:content";
import TabDecor from "./TabDecor.astro";
import Values from "./Values.astro";
import Band from "./Band.astro";

const person = await getEntry("meta:person", "me");

if (!person) {
  throw Error("failed to load personal data!");
}

const { location, links, email } = person.data;
---

<div class="card col flex-1 gap-l padding-m">
  <!-- <TabDecor /> -->

  <Values
    values={[
      { label: "Age", value: "27" },
      { label: "Location", value: `${location.city}, ${location.country}` },
      {
        label: "Working at",
        value: "iMusician",
        href: "https://imusician.pro",
      },
      ...links,
    ]}
  />
</div>

<div class="row justify-between padding-m">
  <a href="/cv">View more</a>
  <a href={email}>Contact me</a>
</div>
