---
import { IRRLMM } from "../consts/meta";
import StackedImage from "./StackedImage";

import image from "../../assets/persons/irrlmm.png";

type Props = {
  chips?: string[];
  title: string;
  lead: string;
  values?: { label: string; value: string }[];
};

const { chips, title, lead, values } = Astro.props;
---

<section>
  <StackedImage
    client:load
    srcs={[image.src]}
    aspectRatio="3/4"
    lightEffectIntensity={1}
    maxWidth="12rem"
  />

  <div class="col">
    <h1 style={{ position: "fixed", left: "-6250rem" }}>{IRRLMM.name}</h1>

    <p>
      Hello. I'm Igor.
      <br />
      <br />
      I am a product designer working across the full product lifecycle.
      <br />
      <br />
      Design engineer by background, turning complex systems into clear, refined form.
      <br /><br />
      <a href="/blog/manifesto">Manifesto</a>
    </p>
  </div>
</section>

<style>
  section {
    max-width: 40rem;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .col {
    flex: 2;
    min-width: 18rem;
  }
</style>
