---
interface Props {
  isDashed?: boolean;
}

const { isDashed, ...rest } = Astro.props;
---

<div role="separator" class:list={[isDashed && "dashed"]}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 520 4"
    width="520"
    height="4"
    preserveAspectRatio="none"
    class:list={[isDashed && "dashed"]}
    {...rest}
  >
    <path d="M0 2 L 520 2" vector-effect="non-scaling-stroke"></path>
  </svg>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    animation: appear 0.33s var(--bezier) both;
    animation-delay: 0.4s;
  }

  svg {
    width: 100%;
    stroke: var(--outline);
    stroke-width: 1px;
    transition: stroke 0.2s var(--bezier);
  }

  div.dashed svg {
    stroke-dasharray: 4px;
    max-width: 50%;
  }
</style>
