---
interface Props {
  isDashed?: boolean;
}

const { isDashed, ...rest } = Astro.props;
---

<div
  role="separator"
  class:list={["row align-center gap-32", isDashed && "dashed"]}
>
  <svg
    class:list={["separator-main", isDashed && "dashed"]}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 520 4"
    width="520"
    height="4"
    preserveAspectRatio="none"
    {...rest}
  >
    <path d="M0 2 L 520 2" vector-effect="non-scaling-stroke"></path>
  </svg>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    animation: appear 0.33s var(--bezier) both;
    animation-delay: 0.4s;
  }

  svg.separator-main {
    width: 100%;
    stroke: var(--on-surface);
    stroke-width: 1px;
    transition: stroke 0.2s var(--bezier);
  }

  div.dashed svg.separator-main {
    stroke-dasharray: 4px;
  }
</style>
