.fact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.title {
  text-transform: none;
  font-size: 2rem;
  line-height: 1.2;
}

.text {
  font-size: 1rem;
  color: var(--on-surface-var);
}

@media (max-width: 512px) {
  .title {
    font-size: 4vw;
  }
}
