.fact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.fact h3 {
  text-transform: none;
  font-size: 24px;
}

.text {
  font-size: 24px;
}

@media (max-width: 512px) {
  .text {
    font-size: 4vw;
  }
}
