.fact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.title {
  text-transform: none;
  font-size: var(--font-size-2xl);
  letter-spacing: -0.04em;
}

.text {
  font-size: var(--font-size-md);
  color: var(--on-surface-var);
}
