.wrapper {
  width: 100%;
  text-decoration: none;
  color: var(--on-surface);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  background-color: var(--surface-dim);
  padding: 0.5rem;
  gap: 0.25rem;
  border-radius: var(--br-card);
  border: solid var(--line) var(--on-surface);
  transform-style: preserve-3d;
  will-change: transform, box-shadow;
}

.content {
  flex: 1;
  border-radius: calc(var(--br-card) - 0.5rem);
  background-color: var(--surface);
  border: solid var(--line) var(--outline);
  transform: translateZ(0.5rem);
  overflow: hidden;
}

.contentHeader {
  width: 100%;
  height: 2rem;
  background-color: var(--overlay-on-surface);
}

.dashedLine {
  width: 100%;
  height: 2px;
  margin-top: 0.25rem;
}
.dashedLine line {
  stroke-dasharray: 2px 2px;
  stroke-width: 2px;
}

.content h3 {
  margin: 1rem;
}

.container span {
  padding: 0.5rem 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
