.toolbarButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border: solid var(--line) var(--inverse-surface);
  background-color: transparent;
  cursor: pointer;
}
.toolbarButton:hover {
  background-color: var(--inverse-surface);
}
.toolbarButton:hover svg {
  stroke: var(--inverse-on-surface);
}
