.toolbarButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border: solid var(--line) var(--accent, var(--on-surface));
  background-color: transparent;
  cursor: pointer;
}
.toolbarButton:hover {
  background-color: var(--accent, var(--on-surface));
}
.toolbarButton:hover svg {
  stroke: var(--on-accent, var(--background));
}
