---
import {
  type CollectionEntry,
  getCollection,
  getEntry,
  render,
} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import moment from "moment";
import StackedImage from "../../components/StackedImage";
import OrgPill from "../../components/OrgPill.astro";

export async function getStaticPaths() {
  const posts = await getCollection("work");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"work">;

const post = Astro.props;
const org = await getEntry(post.data.org);

const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout
  theme={post.data.theme}
  head={{ title: "", description: "" }}
  footerItems={[
    { label: "prj", value: post.id },
    { label: "clt", value: org.data.name, capsule: org.data.countryCode },
    {
      label: "dte",
      value: moment(post.data.date).format("MMM 'YY"),
    },
  ]}
>
  <!-- <SectionHero
    chips={["Case study", remarkPluginFrontmatter.text]}
    title={post.data.title}
    lead={"post.data.lead"}
    values={[
      { label: "Client", value: org.data.name },
      // { label: "Duration", value: post.data.duration },
      // { label: "Role", value: post.data.project.role },
    ]}
  /> -->

  <article class="prose">
    <StackedImage srcs={[""]} aspectRatio="21/9" maxWidth="40rem" client:load />

    <!-- <h1>{post.data.title}</h1>

    <span class="kicker overline text-s"
      >{remarkPluginFrontmatter.readingTime.text}
    </span> -->

    <Content components={{ Org: OrgPill }} />
  </article>
</Layout>

<style>
  .kicker {
    margin-top: 1rem;
  }
</style>
