---
import {
  type CollectionEntry,
  getCollection,
  getEntry,
  render,
} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SectionHero from "../../components/SectionHero.astro";
import moment from "moment";

export async function getStaticPaths() {
  const posts = await getCollection("work");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"work">;

const post = Astro.props;
const org = await getEntry(post.data.org);

const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout
  header={{ breadcrumb: { label: "Work", href: "/work" } }}
  head={{ title: "", description: "" }}
  footerItems={[
    { label: "prj", value: post.id },
    { label: "clt", value: org.data.name, capsule: org.data.countryCode },
    {
      label: "dte",
      value: moment(post.data.date).format("MMMM YYYY"),
    },
  ]}
>
  <SectionHero
    chips={["Case study", remarkPluginFrontmatter.text]}
    title={post.data.title}
    lead={"post.data.lead"}
    values={[
      { label: "Client", value: org.data.name },
      // { label: "Duration", value: post.data.duration },
      // { label: "Role", value: post.data.project.role },
    ]}
  />

  <article class="prose">
    <h1>{post.data.title}</h1>

    <Content />
  </article>
</Layout>
