---
import { type CollectionEntry, getCollection } from "astro:content";
import NewLayout from "../../layouts/NewLayout.astro";
import Footer from "../../components/Footer.astro";
// import { Image } from "astro:assets";
// import getImage from "../../helpers/getImageMetadata";
import { render } from "astro:content";
import moment from "moment";

export async function getStaticPaths() {
  const posts = await getCollection("work");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"work">;

const post = Astro.props;

const { Content } = await render(post);
---

<NewLayout>
  <article>
    <section>
      <div id="chip">
        {post.data.type} • {moment(post.data.date).format("YYYY")}
      </div>
      <h1>{post.data.title}</h1>
    </section>

    <Content />
  </article>
</NewLayout>

<style>
  article {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--unit-2xl);
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    gap: var(--unit-m);
    align-items: flex-start;
  }

  section #chip {
    display: flex;
    background-color: var(--on-surface);
    color: var(--background);
    font-size: var(--unit-s);
    padding: var(--unit-3xs);
    border-radius: var(--unit-3xs);
    text-transform: capitalize;
  }

  section h1 {
    font-size: var(--unit-xl);
    line-height: 1;
  }
</style>
