---
import NewLayout from "../../layouts/NewLayout.astro";
import WorkList from "../../components/WorkList.astro";
---

<NewLayout>
  <h1>Work archive</h1>

  <WorkList />
</NewLayout>

<style>
  h1 {
    width: 100%;
    max-width: calc(var(--unit-m) * 22 + var(--unit-l) * 2);
    padding: 0 var(--unit-l);
    font-size: var(--unit-l);
    margin-bottom: var(--unit-xl);
  }

  section {
    width: 100%;
    display: flex;
  }

  h1 {
    font-size: var(--unit-l);
  }

  section {
    display: flex;
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  ul {
  }

  h2 {
    font-size: var(--unit-m);
  }

  li span {
    font-size: var(--unit-s);
    align-self: flex-start;
    background-color: var(--on-surface);
    color: var(--background);
  }

  li p {
    text-wrap: balance;
    font-size: var(--unit-s);
  }
</style>
