---
import NewLayout from "../../layouts/NewLayout.astro";

import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";

const allPosts = Object.values(
  import.meta.glob("./content/*.mdx", { eager: true })
);

console.log(allPosts);
---

<NewLayout>
  <section>
    <h1>Archive</h1>
  </section>

  <section>
    <ul class="col gap-2xl">
      {
        allPosts.map((post, i) => (
          <li class="col gap-s">
            {/* <div class="col gap-3xs">{post.frontmatter.title}</div> */}
          </li>
        ))
      }
    </ul>
  </section>

  <Footer />
</NewLayout>

<style>
  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--unit-2xl) 0;
    gap: var(--unit-2xl);
  }

  h1 {
    font-size: var(--unit-l);
    line-height: 1;
    animation: appear 0.15s var(--bezier) 0.2s both;
  }

  section {
    display: flex;
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }

  ul {
  }

  li {
    position: relative;
    animation: appear 0.15s var(--bezier) 0.3s both;
  }
  li:nth-child(2) {
    animation-delay: 0.35s;
  }
  li:nth-child(3) {
    animation-delay: 0.4s;
  }
  li:nth-child(n + 4) {
    animation-delay: 0.45s;
  }

  h2 {
    font-size: var(--unit-m);
  }

  li span {
    font-size: var(--unit-s);
    align-self: flex-start;
    background-color: var(--on-surface);
    color: var(--background);
  }

  li p {
    text-wrap: balance;
    font-size: var(--unit-s);
  }
</style>
