.cardContentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

.cardContentWrapper h3 {
  font-size: 24px;
  text-transform: none;
  text-align: center;
  letter-spacing: 0;
}

.cardContentWrapper p {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 512px) {
  .cardContentWrapper {
    padding: 24px;
  }

  .cardContentWrapper h3 {
    font-size: 20px;
  }

  .cardContentWrapper button {
    font-size: 16px;
  }

  .cardContentWrapper p {
    font-size: 14px;
  }
}
