.questionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

.questionCard h3 {
  font-size: 24px;
  text-transform: none;
  letter-spacing: 0;
}

.answer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--accent);
  height: 48px;
  border-radius: 24px;
  background-color: var(--accent-semi);
  /* background-color: transparent; */
  transition: all 0.2s var(--bezier);
}

.answer:hover {
  background-color: var(--accent);
}

.answer:hover > span {
  color: var(--on-accent);
}

@media (max-width: 512px) {
  .questionCard h3 {
    font-size: 5vw;
  }
}
