---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import type { WithContext, Person, Article, CreativeWork } from "schema-dts";

interface Props {
  hasHeader?: boolean;
  schema?: WithContext<Person | Article | CreativeWork>;
}

const { hasHeader, schema } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title="Title" description="Description" />
    {
      schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      )
    }
  </head>

  <body>
    <>{hasHeader && <Header />}</>

    <main>
      <slot />

      <!-- <button class="top">To the top</button> -->
    </main>
  </body>
</html>

<style>
  body {
    position: relative;
  }

  main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    padding: 0 var(--unit-l);
  }

  @media (max-width: 512px) {
    main {
      padding: 0 var(--unit-m);
    }
  }

  @media (max-width: 360px) {
    main {
      padding: 0 var(--unit-s);
    }
  }
</style>
