---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import type { WithContext, Person, Article, CreativeWork } from "schema-dts";

interface Props {
  hasHeader?: boolean;
  schema?: WithContext<Person | Article | CreativeWork>;
}

const { hasHeader, schema } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title="Title" description="Description" />
    {
      schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      )
    }
  </head>

  <body>
    <>{hasHeader && <Header />}</>

    <main>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>

<style>
  body {
    position: relative;
  }

  main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    padding: 48px 32px 64px;
  }

  article {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 64px;
    align-items: center;
  }

  @media (max-width: 512px) {
    main {
      padding: 64px 16px;
    }
  }
</style>
