@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.t-bold {
  font-family: "Chivo Mono", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  opacity: 0.95;
}

.t-inv {
  background-color: var(--bg-inv);
  color: var(--fg-inv);
}
