@import url(./normalize.css);
@import url(./vars.css);
@import url(./fonts.css);

html {
  font-family: "Chivo Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 250;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--on-surface);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--on-surface-var);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 640px;
  padding: 64px 32px;
}

header {
  display: flex;
  align-self: stretch;
  margin-bottom: 64px;
  gap: 4px;
  padding: 16px 0;
  position: sticky;
  top: 0;
  background-color: var(--background);
}

footer {
  display: flex;
  justify-content: space-between;
}

.header__link {
  display: inline-flex;
  flex: 1;
  height: 64px;
  justify-content: center;
  background-color: var(--surface-dim);
  align-items: center;
}

.avatar {
  width: 160px;
  aspect-ratio: 1/1;
  background-color: var(--surface-light);
  border-radius: 25%;
}

.home-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.home-grid__card {
  display: flex;
  aspect-ratio: 1/1;
  background-color: var(--surface-light);
  border-radius: 25%;
}

.logo-monogram {
  height: 24px;
  width: 48px;
}

.separator {
  height: 1px;
  background-color: var(--on-surface);
}

.home-grid__card {
  display: flex;
  aspect-ratio: 1/1;
  background-color: var(--surface-light);
  border-radius: 25%;
}

.headline {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1;
}
