@import url(./normalize.css);
@import url(./vars.css);
@import url(./fonts.css);

html {
  background-color: var(--background);
  line-height: 1.5;
}

* {
  color: var(--on-surface);
}

body {
  padding: 64px 32px;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 24px;
  width: 48px;
}

main {
  max-width: 640px;
}
