:root {
  color-scheme: light dark;

  --gray-98: #fdf8f7;
  --gray-93: #efeae9;
  --gray-88: #e0dcdc;

  --gray-15: #262525;
  --gray-10: #1c1b1b;
  --gray-5: #111111;

  /* surface colors */
  --background: light-dark(var(--gray-93), var(--gray-10));
  --surface-light: light-dark(var(--gray-98), var(--gray-15));
  --surface-dim: light-dark(var(--gray-88), var(--gray-5));
  --on-surface: light-dark(var(--gray-5), var(--gray-98));
  --on-surface-var: light-dark(var(--gray-15), var(--gray-88));

  /* accent colors */
  --accent: light-dark(#000, #ffb016);
  --accent-container: light-dark(#111, #fff);
  --on-accent-container: light-dark(#716262, #222);
}
