---
import Values from "../Values.astro";
import moment from "moment";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import CardSeparator from "../CardSeparator.astro";
import AnimatedLead from "../AnimatedLead.astro";

interface Props {
  data: CollectionEntry<"work">["data"];
}

const {
  data: { date, title, subtitle, overview, client: c },
} = Astro.props;

const client: { label: string; value: string; href?: string } = {
  label: "Client",
  value: "-",
};

if (c) {
  await getEntry("meta:company", c?.id)?.then((res) => {
    client.value = res.data.name;
    client.href = res.data.href;
  });
}
---

<div class="card col gap-40 padding-40">
  <div class="col gap-24">
    <p class="body-m color-secondary">
      {moment(date).format("DD MMM YYYY")}
    </p>

    <h1>{title}</h1>

    <AnimatedLead lines={[subtitle]} />

    <div class="row gap-4">
      <span class="tag">WIP Article</span>
    </div>
  </div>

  <CardSeparator />

  <Values values={[client, ...overview]} />
</div>

<style>
  .card {
    width: 100%;
    max-width: calc(640px + 80px);
    border-radius: 40px;
    background-color: var(--surface-hi);
    animation: appear-with-scale 0.66s var(--bezier) 0.2s both;
    transform-origin: top center;
  }
</style>
