.card {
  position: absolute;
  width: calc(100% - 64px);
  max-width: 360px;
  max-height: 480px;
  height: calc(100% - 64px);
  display: flex;
  border-radius: 24px;
  background-color: var(--surface-hi);
  will-change: filter, transform;
}

.cardActive {
  cursor: grab;
}
.cardActive:active {
  cursor: grabbing;
}

.wrapper {
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform-origin: top left;
  background-color: var(--surface-lo);
  animation: appear-with-scale 0.66 var(--bezier) 0.25s both;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 9/10;
}

.containerLandscape {
  aspect-ratio: 16/10;
}

.containerLandscape > .card {
  max-width: 448px;
  max-height: initial;
}

@media (max-width: 512px) {
  .card h3 {
    font-size: 4vw;
  }

  .container {
    aspect-ratio: 3/4;
  }
}
