.card-stack-wrapper {
  width: 100%;
  aspect-ratio: 7/8;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform-origin: top left;
  border: solid 1px var(--outline);
  animation: appear-with-scale 0.66s var(--bezier) 0.25s both;
}

.card-stack-container {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-stack-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: solid 1px var(--outline);
}

.card-stack-completion-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent);
}

.animated-card {
  position: absolute;
  height: calc(100% - 80px);
  max-height: 400px;
  aspect-ratio: 3/4;
  display: flex;
  cursor: grab;
  user-select: none;
  border-radius: 32px;
  background-color: var(--surface);
  will-change: transform, filter, opacity;
}
.animated-card:active {
  cursor: grabbing;
}

.achievements-card {
  text-align: center;
}

.identity-card-refresh {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px var(--outline);
}

.identity-card-value-main {
  font-size: 28px;
  letter-spacing: 0;
  font-weight: 500;
}

.identity-card .inside {
  background-color: var(--background);
  padding: 16px;
  border-radius: 16px;
}

.card-stack-container > span {
  position: absolute;
  bottom: 32px;
}

@media (max-width: 512px) {
  .card-stack-wrapper {
    aspect-ratio: 3/4;
  }

  .animated-card {
    border-radius: 24px;
  }
}
