.wrapper {
  width: 100%;
  text-decoration: none;
  color: var(--on-surface);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  padding: 0.75rem;
  gap: 0.5rem;
  transform-style: preserve-3d;
  will-change: transform, box-shadow;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  aspect-ratio: 3/4;
  border-radius: var(--br-card);
  background-color: var(--surface);
  border: solid var(--line) var(--outline);
  transform: translate(-50%, -50%);
}
.panel {
  z-index: 10;
  transform: translateZ(0.5rem);
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  text-align: center;
  transform: translate(-50%, -50%) rotate(-1deg);
  border-color: var(--on-surface);
}

.front h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.container span {
  padding: 0.5rem 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
