/* src/components/CardStack.css */
.card-stack-container {
  position: relative;
  width: 100%;
  aspect-ratio: 5/6;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--outline);
  background-position: center;
  overflow: hidden;
}

.identity-card {
  position: absolute;
  width: 80%;
  max-width: 360px;
  border-radius: 32px;
  aspect-ratio: 5/6;
  background: var(--surface);
  color: var(--on-surface);
  cursor: grab;
  user-select: none;
  will-change: transform, filter, opacity;
}
.identity-card:active {
  cursor: grabbing;
}

.identity-card-value-main {
  font-size: 28px;
  letter-spacing: 0;
  font-weight: 500;
}

.identity-card .inside {
  background-color: var(--background);
  padding: 16px;
  border-radius: 16px;
}

.card-stack-container > span {
  position: absolute;
  bottom: 32px;
}

@media (max-width: 512px) {
  .card-stack-container {
    border: none;
    overflow: initial;
  }
}
